/* font-family: 'Inconsolata', monospace; */

body {
	font-family: 'Inconsolata', monospace;
	padding: 0;
	width: 60%;
	margin: auto;	
}
.home {
	padding-top: 30%;
}
.logo {
	float: left;
	font-size: 30pt;
	color: purple;
	position: relative;
	bottom: 2px;
}
.form {
	border-left: 1px solid black;
	margin-left: 50%;
	line-height: 40px;
	text-align: center;
} 
.form input[type='text'] {
	height: 25px;
}
.form input[type='submit'] {
	border-radius: 0;
	background-color: #D890AE;
	color: white;
	border: 0;
}

/*.form_em {
	line-height: 40px;
	text-align: center;
    padding-top: 10px;
} 
.form_em input[type='text'] {
	height: 25px;
}
.form_em input[type='submit'] {
	border-radius: 0;
	background-color: #D890AE;
	color: white;
	border: 0;
}*/

.head {
	margin-top: 15px;
	font-size: 40pt;
	text-align: center;
	color: #FFFFFF;
	border-radius: 5px;
	background-color: #638C8A
}
.tweets {
	font-size: 25pt;
	line-height: 40px;
}
.tweets h4 {
	color: red;
}