<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Tweelyzer - Home</title>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="home">
<div class="logo">
Tweelyzer
</div>
<div class="form">
	<form method="post" action="{{ url_for('tweets') }}">
		<input type="text" name="subject" placeholder="Enter subject" required/><br>
		<!-- <input type="text" name="count" placeholder="How many tweets?" required/><br> -->
		<input type="submit" value="Ananlyse"/>
	</form>
</div>
</div>
</body>
</html>